@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&family=VT323&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body *{
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(19, 88, 153), rgb(6, 43, 78));
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotel-image{
    width: 30vw;
}

.logo-login{
    width: 20vw;
    padding-bottom: 10px;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a { 
    color: currentColor;
 } 

.left-login > h1{
    font-size: 18pt;
    color: antiquewhite;
    background-color: rgb(55, 145, 37);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(19, 128, 15, 0.178);
    cursor: pointer;
}

.card-login > h1{
    display: flex;
    font-size: 25pt;
    font-family: 'VT323', monospace;
    color: rgb(226, 226, 226);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 45%;
    padding-left: 45%;
    border-radius: 10px;
    background-color: rgb(7, 56, 102);
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-login, .logo {
    width: 50vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 35px;
    background: rgb(19, 88, 153);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(8, 8, 8, 0.178);
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 15px;
    background: linear-gradient(rgb(226, 226, 226), rgb(211, 211, 211));
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: rgb(226, 226, 226);
    margin-bottom: 5px;
}

.textfield > input::placeholder{
    color: rgb(167, 167, 167);
}

.btn-login{
    width: 55%;
    padding: 16px 0;
    margin: 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: rgba(238, 238, 238, 0.801);
    background-color: rgb(55, 145, 37);
    border: 2px solid rgb(114, 201, 97);
    cursor: pointer;
}

.btn-login:hover{
    background-color: rgb(33, 87, 22);
    border: 2px solid rgb(55, 145, 37);
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display:none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .hotel-image{
        width: 50vw;
    }
    .card-login{
        width: 70%;
    }
}